# App Configuration
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://manikanta:mani98121@cluster0.dwbsevx.mongodb.net/?appName=Cluster0

# JWT / Session Secret
JWT_SECRET=582722857382947

# Token / API Secret
API_SECRET=ewQRbOSIDUE0lXNrN1l1SB7yN-U

# Cloudinary
CLOUDINARY_CLOUD_NAME=dw4napps8

# Google OAuth

GOOGLE_CLIENT_SECRET=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
